<html>
        <head>
            <title>Django FISI blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django FISI</a></h1>
            </div>

            <div>
                <p>published: 13.04.2017, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>Bienvenido a l curso de Taller de Proyectos 2 </p>
            </div>

            <div>
                <p>published: 13.04.2017, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Pronto el proyecto help desk by Carolina Cáceda Rodríguez.</p>
            </div>
        </body>
    </html>